@using System;
@using System.Collections.Generic;
@using Sandbox;
@using Sandbox.UI;
@using Scenebox.Tools;
@inherits Panel
@namespace Scenebox
@attribute [StyleSheet]

<root>
    <div class="listcontainer">
        <TextEntry @ref="SearchEntry" Placeholder="Quick Filter..." />
        <div class="toollist">
            @if (true)
            {
                var tools = TypeLibrary.GetTypes<BaseTool>().Where(x => x.Name != "BaseTool");
                foreach (var group in GetGroups(tools.ToList()))
                {
                    <label class="header">@group</label>
                    foreach (var tool in tools.Where(x => GetGroup(x.TargetType) == group))
                    {
                        <div class="tool" onclick=@(() => GiveTool(tool))>
                            @(TypeLibrary.GetAttribute<ToolAttribute>(tool.TargetType)?.Title ?? "Missingtool.")
                        </div>
                    }
                }
            }
        </div>
    </div>
    <div class="inspector" @ref="InspectorPanel">

    </div>
</root>

@code
{
    public static ToolMenu Instance { get; private set; }

    TextEntry SearchEntry;
    Panel InspectorPanel;

    string GetGroup(Type tool) => TypeLibrary.GetAttribute<ToolAttribute>(tool)?.Group ?? "Other";

    protected override void OnAfterTreeRender(bool firstTime)
    {
        base.OnAfterTreeRender(firstTime);

        if (firstTime)
        {
            Instance = this;
            UpdateInspector();
        }
    }

    void GiveTool(TypeDescription tool)
    {
        var toolgun = Player.Local?.Components.Get<Toolgun>(FindMode.EverythingInSelfAndDescendants);
        if (toolgun.IsValid())
        {
            toolgun.SetTool(tool);
        }
        Log.Info(toolgun);
        Player.Local?.Inventory?.EquipWeapon(toolgun);
    }

    List<string> GetGroups(List<TypeDescription> tools)
    {
        var groups = new List<string>();
        foreach (var tool in tools)
        {
            var group = GetGroup(tool.TargetType);
            if (!groups.Contains(group))
            {
                groups.Add(group);
            }
        }
        return groups;
    }

    public void UpdateInspector()
    {
        InspectorPanel.DeleteChildren();
        var toolgun = Player.Local?.Components.Get<Toolgun>(FindMode.EverythingInSelfAndDescendants);
        if (!toolgun.IsValid()) return;

        var tool = toolgun.CurrentTool;
        if (tool is null) return;

        var panelTypes = TypeLibrary.GetTypesWithAttribute<ToolInspectorAttribute>();
        var panelType = panelTypes.FirstOrDefault(x => x.Attribute.Type == tool.GetType());
        if (panelType.Type is not null)
        {
            var panel = TypeLibrary.Create<Panel>(panelType.Type.TargetType);
            if (panel is IToolInspector inspectorPanel)
            {
                inspectorPanel.Toolgun = toolgun;
            }
            InspectorPanel.AddChild(panel);
        }
        else
        {
            var defaultPanel = new DefaultToolInspector();
            defaultPanel.Toolgun = toolgun;
            InspectorPanel.AddChild(defaultPanel);
        }
    }

    protected override int BuildHash() => System.HashCode.Combine(SearchEntry.Text);
}