@using Sandbox;
@using Sandbox.UI;
@namespace Scenebox
@inherits PanelComponent

<root>
	@if (!Player.Local.IsValid()) return;

	<InventoryBar Inventory=@Player.Local.Inventory />

	<div class="crosshair" />

	<div class="health">
		<label class="health-header">HEALTH</label>
		<label class="value">@Player.Local.Health</label>
	</div>
</root>

@code
{



	protected override int BuildHash() => System.HashCode.Combine(Player.Local?.Health);
}