@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
@namespace Scenebox

<root>
	<img src="ui/toolgun_screen.png" />
	<div class="scrolling-text">
		<label>Box Shooter</label>
		<label>Box Shooter</label>
	</div>
</root>

@code
{
	protected override int BuildHash() => System.HashCode.Combine("");
}