@using Sandbox;
@using Sandbox.UI;
@inherits Panel
@namespace Scenebox

<root>
    <label class="slot-number">@Slot</label>
    @if (Weapon.IsValid())
    {
        <label class="item-name">@Weapon.Resource.Name</label>
        <label class="item-icon">@Weapon.Resource.IconCharacter</label>
    }
</root>

@code
{
    public int Slot { get; set; }
    public Weapon Weapon { get; set; }

    protected override int BuildHash() => System.HashCode.Combine(Weapon?.Resource?.IconCharacter);
}