NotificationPanel
{
    position: absolute;
    bottom: 142px;
    right: 64px;
    font-family: Tahoma;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 0 black;
    align-items: flex-end;
    gap: 8px;

    flex-direction: column;

    NotificationPanelEntry
    {
        top: 0px;
        left: 0px;
        opacity: 1;
        gap: 12px;
        background-color: rgba(black, 0.5);
        // in-out-bounce bezier
        transition: all 0.4s cubic-bezier(0.19, -0.74, 0.77, 1.78);
        padding: 10px 20px;
        border-radius: 4px;
        align-items: center;
        

        &:intro
        {
            top: 32px;
            left: 300px;
            opacity: 0;
        }

        &:outro
        {
            opacity: 0;
            left: 300px;
            transition: all 0.4s cubic-bezier(0.29, -0.57, 0.55, 1.03);
        }
    }
}